
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#020617] text-slate-100 antialiased;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }

.glass-node {
  @apply backdrop-blur-3xl;
}
